<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias alias="TbTest" type="com.gpagers.cn.handle.model.TbTest" />
		<typeAlias alias="TbTingsMajor" type="com.gpagers.cn.handle.model.TbTingsMajor" />

	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins>

	<mappers>
		<mapper resource="sqlMapper/TbTestMapper.xml" />
		<mapper resource="sqlMapper/TbTingsMajorMapper.xml" />
	</mappers>



</configuration> 